.body {
    background-color: #FCF3F2;
    color: #201D1E;
    margin-top: 20px; 
}
.recipe-card {
    background-color: #FCF3F2;
    color: #4B2424;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.h2 {
    color: #4B2424;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.navbar {
    background-color: #ac7f7e; 
}

.navbar-brand img {
    max-width: 75px;
    height: auto;
    margin-right: 10px;
}

.navbar-nav {
    margin-left: auto; 
}

.ladycook-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* Ubah font tulisan Ladycook */
    font-size: 24px; 
}

.ingredient-title {
    font-size: 20px; 
    margin-top: 70px; 
    margin-bottom: 10px;
    text-align: left;
}

.cooking-steps {
  font-size: 20px; 
  margin-top: 70px; 
  margin-bottom: 10px;
  text-align: left;
}

body{
    background-color: #ffffff;
  }
  
  body, ul {
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #F7CCE0; 
    padding: 0; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    height: 5rem;
  }
  
  nav .logo {
    margin: 0;
    height: 100px; 
  }
  
  nav ul {
    list-style-type: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block; 
    margin-right: 20px;
    padding-top: 9px;
  }
  
  nav ul li a {
    color: #6D322E; 
    text-decoration: none; 
    padding: none; 
    display: block; 
  }
  
  nav ul li a:hover {
    color: #ac7f7e; 
  }
  
  .background {
    background-image: url(bg.jpg);
    background-size: cover;
    background-blend-mode: darken;
  }
  
  
  .grid-selamatDatang {
  display: flex; 
  }
  
  .grid-item {
  flex: 1; 
  background-color: none; 
  padding: none; 
  border: none; 
  text-align: center; 
  box-sizing: border-box; 
  }
  
  .h1-selamatDatang{
    padding-top: 80px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-display:inherit;
    color: white;
    padding-bottom: none;
    margin-bottom: none;
    background-color: #f8cce0; 
    padding: 10px; 
    color: #000; 
    border-radius: 10px;
  }
  
  .h1-selamatDatang .h2-selamatDatang {
    padding-top: none;
    margin-top: none;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-display: inherit;
    font-style: normal;
    font-size: 24px;
  }
  
  .grid1 {
    padding-top: 7rem;
  }
  .container-button-selamatdatang{
    padding-top: 8rem;
    position: relative;
  }
  
  .button {
    background-color: #3F2305; 
    color: white; 
    padding: 15px 20px; 
    border: none; 
    border-radius: 5px;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  
  .container2{
    padding-top: 8rem;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 200px;
  }
  
  .h2 {
    color: #3F2305;
    font-size: 90px;
  }
  
  .grid {
    display: flex;
    padding: 1rem;
  }
  
  .grid-item1 {
    flex: 1; 
    background-color: none; 
    padding: 1rem; 
    margin: 10px;
    border: none; 
    text-align: center; 
    box-sizing: border-box; 
  }
  
  .grid-item2 {
    flex: 1; 
    background-color: none; 
    padding: 1rem; 
    margin: 10px;
    border: none; 
    text-align: center; 
    box-sizing: border-box; 
  }
  
  .grid-item3 {
    flex: 1; 
    background-color: none; 
    padding: 1rem; 
    margin: 10px;
    border: none; 
    text-align: center; 
    box-sizing: border-box; 
  }
  
  /* style card */
  .card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #F5F5F5;
  }
  
  .card-img {
    width: 100%;
    height: auto;
  }
  
  .card-content {
    padding: 15px;
  }
  
  .card-title {
    margin-top: 0;
  }
  
  .card-description {
    margin-bottom: 0;
  }
  
  
  .link  {
  color: white; 
  text-decoration: none;
  }
  
  .swiper-container {
  width: 100%;
  height: 100%;
  }
  
  .swiper-slide {
  width: 100%;
  height: 100%;
  }
  
  .section {
  width: 100%;
  height: 100%;
  }
  
  
  /*ini corusel*/
  .carousel-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  
  }
  
  .carousel-slide {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory
  }
  
  .review {
  background-color: #fff;
  flex: 0 0 auto;
  width: 300px;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan */
  border-radius: 10px; /* Tambahkan sudut bulat */
  }
  
  .review img {
  width: 100%;
  border-top-left-radius: 10px; /* Tambahkan sudut bulat pada gambar */
  border-top-right-radius: 10px; 
  justify-content: center;
  display: flex;
  }
  
  .review-content {
  padding: 20px;
  }
  
  .review-content p {
  margin-bottom: 10px;
  }
  
  .review-content .author {
  font-style: italic;
  }
  
  #prevBtn, #nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent; /* Ubah latar belakang tombol menjadi transparan */
  color: #000; /* Ubah warna tulisan menjadi hitam */
  padding: 10px; /* Mengurangi padding agar tombol lebih kecil */
  border: none;
  cursor: pointer;
  font-size: 20px;
  }
  
  .section-costumer {
  margin-bottom: 4 rem;
  padding-bottom: 4 rem;
  }
  
  
  /*ini corusel*/
  
  /*footer*/
  
  footer {
  background-color: #3F2305;
  }
  
  .img-footer{
  width: 150px;
  }
  
  .footer-head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 12px;
  }
  
  .footer-head h4 {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  }
